# Entorno Virtual
venv/

# Archivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de tests
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
